@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background: black;
    color: #fff;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

section *{
    margin: 0;
    padding: 0;
}

section{
    width: 550px;
    margin: 0 auto;
    border: #fff 2px solid;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

section:first-of-type p{
    margin-bottom: 40px;
}

#roundsChoice{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    align-items: center;
    text-align: left;
    row-gap: 20px;
}

section:nth-of-type(2){
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section:nth-of-type(2) div:first-of-type{
    background: #fff;
    color: black;
    padding: 10px;
    transform: translateX(calc(-50% - 30px));
    border-radius: 3px;
}

section:nth-of-type(2) div:last-of-type{
    background: #fff;
    color: black;
    padding: 10px;
    transform: translateX(calc(+50% + 30px));
    border-radius: 3px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

article div{
    width: 100px;
    height: 100px;
    border: 2px #fff solid;
    border-radius: 50%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: .2s ease;
}

article div:hover{
    border-color: teal;
    color: teal;
}

article div:active{
    border-color: tomato;
    color: tomato;
}

#history{
    height: 150px;
    text-align: left;
    overflow-y: scroll;
    line-height: 1.5em;
}

a{
    font-size: 12px;
}

.draw{
    color: yellow;
}

.youWin{
    color: green;
}

.youLose{
    color: red;
}